
img{
    width: 50%;
}
.containerE{
    height: 100vh;
    display: flex;
    flex-direction: column; /* Añade esta línea */
    align-items: center; /* Cambia esta línea */
    justify-content: center;
    background-color: #3a3d3f;
    overflow: auto;
  }
  
  .text-center {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .text-2x1 {
    font-size: 2rem;
    font-weight: bold;
    color: #bacad7;
  }
  
  .text-center p {
    font-size: 1.25rem;
    color: #b8c4ce;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #d0740b;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #b37d00;
  }
  
  .lottie-animation {
    width: 480px;
    height: auto;
  }