.btn {
  color: white;
  background-color: #3c3f45;
  border: solid 3px;
  border-color: #f87c00;
  width: 8rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.table-container {
  margin-top: 40px; /* Ajusta según sea necesario */
}