.container-admin {
  padding: 1rem;
}

.table-admin {
  margin: 1rem;
}

.btn {
  color: white;
  background-color: #3c3f45;
  border: solid 3px;
  border-color: #f87c00;
  width: 8rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn-edit-delete {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 2px;
}

.modal-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  margin: 0;
}
